{% extends "base.html" %}

{% block content %}
  <h1><strong>Car Model:</strong> {{ car.model }}</h1>
  <p><strong>Car Manufacturer Name:</strong> {{ car.manufacturer.name }}</p>
  <p><strong>Car Manufacturer Country:</strong> {{ car.manufacturer.country }}</p>
  <div class="ml3">

  <p><strong>Drivers of the Car:</strong></p>

  {% if car.drivers.all %}
    <table>
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>First name</th>
      <th>Last name</th>
    </tr>
    {% for driver in car.drivers.all %}
      <tr>
      <td><a href="{{ driver.get_absolute_url }}"> {{ driver.id }}</a></td>
      <td>{{ driver.username }}</td>
      <td>{{ driver.first_name }}</td>
      <td>{{ driver.last_name }}</td>
      </tr>
      {% empty %}
      No Drivers!
    {% endfor %}
    </table>
    {% else %}
      <p>There are no drivers for this car.</p>
  {% endif %}
  </div>
{% endblock %}
